
@model WriterMessage

@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h2>Mesaj Detayları</h2>
<hr />
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-group">

                <div class="form-group">
                    @Html.Label("Alıcının Adı:")
                    @Html.TextBoxFor(x => x.ReceiverName, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label class="form-label">Alıcı Mail Adresi: </label>
                    <input type="text" value="@Model.Receiver" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="form-label">Konu: </label>
                    <input type="text" value="@Model.Subject" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="form-label">Mesaj İçeriği: </label>
                    <textarea class="form-control" cols="10" rows="6">@Model.MessageContent</textarea>
                </div>

            </form>
            <a href="/Writer/Message/Sendbox/" class="btn btn-primary">Mesajlara Geri Dön</a>
        </div>
    </div>
</div>
