
@model List<WriterMessage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h3>Gelen Kutusu</h3>
<h2>@ViewBag.v</h2>

<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Detaylar</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ID</th>
            <td>@item.SenderName</td>
            <td>@item.Subject</td>
            <td>@item.Date.ToString("dd-MMM-yyyy")</td>
            <td><a href="/Writer/Message/MessageDetails/@item.ID/" class="btn btn-outline-info" btn-lg>Mesajı Gör</a></td>
        </tr>
    }

</table>
