
@model Portfolio

@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h1>Proje Ekleme Sayfası</h1>
<br />
<div class="card bg-default shadow p-3">
    @using (Html.BeginForm("AddPortfolio", "Portfolio", FormMethod.Post))
    {

        <div class="form-group">
            <label class="form-label">Proje Adı:</label>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label class="form-label">Proje Resmi:</label><br />
            <label class="form-label text-light opacity-5">Örnek:/Template/images/portfolio/1-small.png</label>
            @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ImageUrl, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            <label class="form-label">Proje Resmi 2:</label><br />
            <label class="form-label text-light opacity-5">Örnek:/Template/images/portfolio/1.jpg</label>
            @Html.TextBoxFor(x => x.ImageUrl2, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ImageUrl2, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label class="form-label">Proje Platform Image:</label><br />
            <label class="form-label text-light opacity-5">Örnek:/argon-dashboard-master/assets/img/theme/bootstrap.jpg</label>
            @Html.TextBoxFor(x => x.ProjectImage, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ProjectImage, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            <label class="form-label">Proje URL:</label><br />
            @Html.TextBoxFor(x => x.ProjectUrl, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ProjectUrl, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            <label class="form-label">Proje Ücreti:</label><br />
            @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Price, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            <label class="form-label">Projenin % kaçı bitti:</label><br />
            @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Value, "", new { @class = "text-danger" })
        </div>
        <br />


        <button class="btn btn-primary" type="submit">Proje Kaydet</button>
        <a href="/Portfolio/Index/" class="btn btn-secondary ml-3">İptal</a>
    }
</div>